<div class="ts-u-display--flex ts-u-justify--space-between ts-u-margin-top--md">
  
  
  <div class="row">

    <!-- Games -->
    <div class="left-column" id="leftColumnDiv">

      <div class="row" style="background-color: gainsboro;">
        <div style="background-color: gainsboro; margin-right: 20px; text-align: center;" class="games-left-column">
          <h2>Games recommended for you {{playerType ? '(' + playerType + ')': ''}}</h2>
          <hr>
          <div *ngFor="let rg of recommendedGamesDisplay">
            <div *ngIf="selectedGameIdx === recommendedGamesDisplay.indexOf(rg) else elseBlock">
              <a style="margin-bottom: 10px; background-color: white" (click)="displaySelectedGame(rg, $event)" id="recGame{{recommendedGamesDisplay.indexOf(rg)}}" href="#" onclick="return false;">{{rg}}</a>
            </div>
                        
            <ng-template #elseBlock><a style="margin-bottom: 10px; background-color: gainsboro" (click)="displaySelectedGame(rg, $event)" id="recGame{{recommendedGamesDisplay.indexOf(rg)}}" href="#" onclick="return false;">{{rg}}</a></ng-template>
            
          </div>
        </div>
        <div class="games-right-column" style="background-color: gainsboro; ">
          <div id="gameHeader" style="background-color: gainsboro; ">
          <span id="white" style="font-weight: bold; font-size: 20px;">white</span><span style="font-size: 20px;">&emsp;vs.&emsp;</span> <span id="black" style="font-weight: bold; font-size: 20px;">black</span>
          <br>
          <span id="gameResult">result</span>&ensp;|&ensp;<span id="event">event</span>&ensp;|&ensp;<span id="site">site</span>&ensp;|&ensp;<span id="date">date</span>
          </div>
          <div id="gameBoard" style="width: 504px;"></div>
          <a href="#" class="move-btn previous round" (click)="previousMove()">&#8249;</a>
          <a href="#" class="move-btn next round" (click)="nextMove()">&#8250;</a>
        </div>
      </div>
    </div>

    <div *ngIf="recommended">
      <!-- Openings -->
      <div class="right-column">
        <div class="row" style="height:100%;">
          <div class="games-left-column" style="width: 30%; ">
            <div style="background-color: gainsboro; margin-right: 10px; text-align: center;" class="games-left-column">
              <h2 style="width: 200px;">Openings recommended for you ({{playerType}})</h2>
              <hr style="width: 200px;">

                <div  *ngFor="let ro of recommended.openings">
                  <div *ngIf="selectedOpeningIdx === recommended.openings.indexOf(ro) else elseBlock">
                    <a style="margin-bottom: 10px; background-color: white; width: 170px; text-align: center;" (click)="selectedOpeningIdx = recommended.openings.indexOf(ro)" href="#" onclick="return false;">{{ro.openingName}}</a>
                  </div>
                              
                  <ng-template #elseBlock><a style="margin-bottom: 10px; background-color: gainsboro; width: 170px; text-align: center;" (click)="selectedOpeningIdx = recommended.openings.indexOf(ro)"  href="#" onclick="return false;">{{ro.openingName}}</a></ng-template>

              </div>
            </div>
          </div>
          <div class="games-right-column" style="width: 65%;">
            {{recommended.openings[selectedOpeningIdx].description}}
          </div>
        </div>
        <hr>
        <div class="row" style="float: left; height: 220px;">
          <div style="background-color: gainsboro; margin-right: 10px; text-align: center; height: 220px;" class="games-left-column">
            <h2 style="width: 200px;">Books recommended for you ({{playerType}})</h2>
          </div>
          <div *ngFor="let rb of recommended.books" style="margin-left: 200px;">  
            <div class="games-right-column" style="width: 25%;">
              <a href={{recommended.books[recommended.books.indexOf(rb)].goodreadsLink}} target="_blank"><img width="50%" height="50%" src={{recommended.books[recommended.books.indexOf(rb)].goodreadsCoverPhotoLink}}>
              </a>
              {{recommended.books[recommended.books.indexOf(rb)].authorFullName}}<br>
              "{{recommended.books[recommended.books.indexOf(rb)].title}}"<br>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>  
  </div>
  
</div>
  