a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
  
a:hover {
    background-color: rgb(24, 123, 204);
    color: black;
}
  
.previous {
    background-color: #f1f1f1;
    color: black;
    margin-left: 155px;
}
  
.next {
    background-color: #f1f1f1;
    color: black;
}
  
.round {
    border-radius: 50%;
}
  
.move-btn {
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    padding-top: 2px;
    font-size: 2.5em;
}

.games-left-column {
    float: left;
    width: 30%;
    padding: 5px;
    height: 400px;
  }

.games-right-column {
    float: left;
    width: 60%;
    padding: 5px;
    height: 400px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    height: 650px;
}

.left-column {
    float: left;
    width: 50%;
    padding: 10px;
    margin-right: 10px;
    background-color: gainsboro;
  }

.right-column {
    float: left;
    width: 45%;
    padding: 10px;
    margin-left: 10px;
    background-color: gainsboro;
}